:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100dvh;
  background-image: radial-gradient(gray, black);
 
  color: white;
}


.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:url('fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7; 
  z-index: -1;  
  flex: 1;
}

.container {
  z-index: 1;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  width: 100%;
  max-width: 300px;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  padding: 20px;
}

.login > h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login__input {
  border: none;
  padding: 15px;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: white;
  outline: none;
  border-radius: 5px;
}

.login__button {
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
}

.login__button:hover {
  transition: 0.3s;
  background-color: rgb(213, 213, 213);
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.chat__messages {
  flex-grow: 1;
  padding: 30px 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat__form {
  background-color: rgba(19, 19, 19, 0.713);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chat__input {
  border: none;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  background-color: rgb(29, 29, 29);
  color: white;
  font-size: 1rem;
}

.chat__button {
  background: none;
  border: none;
  color: white;
  border-radius: 50%;
  background-color: rgb(26, 26, 26);
  padding: 5px;
  cursor: pointer;
}

.chat__button > span {
  font-size: 2em;
}

.chat__messages > div {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 22px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.hora {
  font-size: 0.7rem;
  color: gray;
  text-align: right;
  align-self: right;
  display: block;
  margin-top: -10px;
}

.message--self {
  background-color: rgb(247, 247, 247);
  color: black;
  border-radius: 10px 10px 0px 10px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message--other {
  background-color: rgb(46, 46, 46);
  color: white;
  border-radius: 0px 10px 10px 10px;
  align-self: flex-start;
}

.message--sender {
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  color: aquamarine;
}
